{% extends 'base.html'%}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<!--<p>Result is {{result.name}}</p>-->


<div class="home">
    <div class="background_image" style="background-image:url({% static 'images/contact.jpg'%})"></div>
</div>
{% include 'partials/search_content.html' %}

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>A few words about us</h2></div>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_content">

<!--                    {{ab.brief | safe}}-->
                    <div class="text_highlight">{{field | safe }}</div>
                    <div class="about_text">
                        {{ ab | safe}}
                    </div>
                    <div class="button about_button" data-toggle="modal" data-target="#myModal"><a href="#">read more</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image"><img src="{{abs.aboutimg.url}}" alt=""></div>
            </div>
        </div>
    </div>
</div>


<!-- Why Choose Us -->

<div class="why">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{abs.whybackground.url}}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>Why choose us?</h2></div>
            </div>
        </div>
        <div class="row why_row">

            <!-- Why item -->
            {% for wh in why %}
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="{{wh.img.url}}" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="{{wh.icon.url}}" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">{{wh.title}}</div>
                        <div class="why_text">
                            <p>{{wh.shortdesc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

<!-- Team -->

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>Meet the Team</h2></div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            {% for te in team %}
            <div class="col-xl-3 col-md-6 team_col">
                <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="team_image"><img src="{{te.img.url}}" alt=""></div>
                    <div class="team_content">
                        <div class="team_title"><a href="#">{{te.name}}</a></div>
                        <div class="team_text">
                            <p>{{te.shortdesc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ abs.brief | safe}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}