{% extends 'base.html'%}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<!-- Home -->

<div class="home">
	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">
			{% for slide in slider %}
			<!-- Slide -->
			<div class="owl-item">
				<div class="background_image" style="background-image:url({{slide.img.url}})"></div>
				<div class="home_slider_content_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_slider_content">
									<div class="home_title"><h2>{{slide.title}}</h2></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

		<div class="home_page_nav">
			<ul class="d-flex flex-column align-items-end justify-content-end">
				<li><a href="#" data-scroll-to="#destinations">Offers<span>01</span></a></li>
				<li><a href="#" data-scroll-to="#testimonials">Testimonials<span>02</span></a></li>
				<li><a href="#" data-scroll-to="#news">Latest<span>03</span></a></li>
			</ul>
		</div>
	</div>
</div>

{% include 'partials/search_content.html' %}

<!-- Intro -->

<div class="intro">
	<div class="intro_background" style="background-image:url({% static 'images/intro.png'%})"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="intro_container">
					<div class="row">
						{% for intro in intros %}
						<!-- Intro Item -->
						<div class="col-lg-4 intro_col">
							<div class="intro_item d-flex flex-row align-items-end justify-content-start">
								<div class="intro_icon"><img src="{{intro.svgimg.url}}" alt=""></div>
								<div class="intro_content">
									<div class="intro_title">{{intro.title}}</div>
									<div class="intro_subtitle"><p>{{intro.subtitle}}</p></div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Destinations -->

<div class="destinations" id="destinations">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_subtitle">simply amazing places</div>
				<div class="section_title"><h2>Popular Destinations</h2></div>
			</div>
		</div>
		<div class="row destinations_row">
			<div class="col">
				<div class="destinations_container item_grid">

					<!-- Destination -->
					{% for dest in dests %}
					<div class="destination item">
						<div class="destination_image">
							<img src="{{dest.img.url}}" alt="">
							{% if dest.offer %}
							<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
							{% endif %}
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="destinations.html">{{dest.name}}</a></div>
							<div class="destination_subtitle"><p>{{dest.desc | safe}}</p></div>
							<div class="destination_price">From ${{dest.price}}</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Testimonials -->

<div class="testimonials" id="testimonials">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{homestatic.testiBackground.url}}" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_subtitle">simply amazing places</div>
				<div class="section_title"><h2>Testimonials</h2></div>
			</div>
		</div>
		<div class="row testimonials_row">
			<div class="col">

				<!-- Testimonials Slider -->
				<div class="testimonials_slider_container">
					<div class="owl-carousel owl-theme testimonials_slider">

						{% for test in testi %}
						<!-- Slide -->
						<div class="owl-item text-center">
							<div class="testimonial">{{test.quote}}</div>
							<div class="testimonial_author">
								<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
									<div>{{test.author}}</div>
									<div>{{test.designation}}</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="test_nav">
		<ul class="d-flex flex-column align-items-end justify-content-end">
			<li><a href="#">City Breaks Clients<span>01</span></a></li>
			<li><a href="#">Cruises Clients<span>02</span></a></li>
			<li><a href="#">All Inclusive Clients<span>03</span></a></li>
		</ul>
	</div>
</div>

<!-- News -->

<div class="news" id="news">
	<div class="container">
		<div class="row">
			<div class="col-xl-8">
				<div class="news_container">

					<!-- News Post -->
					{% for newpost in newposts %}

					<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="news_post_image"><img src="{{ newpost.img.url }}" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
								<div>{{newpost.date|date:'d'}}</div>
								<div>{{newpost.date|date:'M'}}</div>
							</div>
							<div class="news_post_title"><a href="#">{{newpost.title}}</a></div>
							<div class="news_post_category">
								<ul>
									<li><a href="#">{{newpost.tag}}</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>{{newpost.desc}}</p>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>

			<!-- News Sidebar -->
			<div class="col-xl-4">
				<div class="travello">
					<div class="background_image" style="background-image:url({{homestatic.bestSide.url}})"></div>
					<div class="travello_content">
						<div class="travello_content_inner">
							<div></div>
							<div></div>
						</div>
					</div>
					<div class="travello_container">
						<a href="#">
							<div class="d-flex flex-column align-items-center justify-content-end">
								<span class="travello_title">Get a 20% Discount</span>
								<span class="travello_subtitle">Buy Your Vacation Online Now</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}