@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html{
    font-family: 'Montserrat';
    background-color: lightgrey;
}
.bold {
    font-weight: bold;
}
h1, h6{
    font-weight:bold;
}
.row{
    margin:0 !important;
}
.noproject-wrapper {
    margin-top: 250px;
    padding: 80px 0px;
    border: 6px solid #9e9e9e;
    border-style: dashed;
}
.noproject-wrapper h3{
    padding: 10px;
    margin-bottom: 50px;
}
/*project add view*/
form ul li.category{
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    margin-right: 5px;
}
/*project datails*/

.section-stats .card-panel{
    margin: 8px;
}
.section-stats h1{
    font-size: 4vw;

}

@media(max-width: 992px){
    .section-stats h1{
        font-size: calc(16px +6vm);
    }
}

.section-expenses button{
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, .25);
    background-color: #6fcf97;
}
.section-expenses .expense{
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}
.section-expenses .expense .category{
    font-size: 13px;
}