.form{
	text-align: center;

}

.admission_No{
	float : left;
	font-size : 20px;
}
#from_pic{
	max-height : 200px;
	max-width : 200px;
	float : right;
}
.admission_txt{
	border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    max-width: 300px;
    border-radius: 25px;
	font-size : 25px;
	
}
.from_table{
	font-size : 20px;
}
table, th, td {
	
    border: 1px solid black;
    border-collapse: collapse;
}
table{
	width : 100%;
}
