{% extends 'budget/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="categoryInput">Expense Categories (hit enter after every Category)</label>
            <input type="text" name="categoryInput" id="categoryInput">
            <input type="hidden" name="categoriesString" id="hello">
            <ul id="categoriesContainer">

            </ul>
            <button type="submit" class="btn">start project</button>
        </form>
    </div>
<script src="{% static 'js/script.js'%}"></script>
{% endblock %}